@import './variaveis';

*{
    box-sizing: border-box;
    text-decoration: none;
    a{
        color: $cor-fonte;
    }
}
body, html{
    font-family: $fonte;
    color: $cor-fonte;
    width: 100vw;
}
.container{
    margin: 0 auto;
    width: 90vw;
}