//Cores
$cor-fonte: #667085;
$cor-destaque: #8E2424;
$cor-destaque-5: hsla(0, 60%, 35%, 0.05);
$cor-neutra: white;
$cor-titulo:#101828;
$cor-fundinho: rgba(196, 25, 25, 0.03);
$gray50: #F9FAFB ;

//Fontes
$fonte: 'Inter';
